# https://docs.npmjs.com/cli/configuring-npm/npmrc
# https://docs.npmjs.com/cli/using-npm/config

# Ne pas activer "--disallow-code-generation-from-strings", car AJV utilise
# "new Function". https://github.com/ajv-validator/ajv/issues/2491
node-options="${NODE_OPTIONS?} --disable-proto=throw"

min-release-age=7
save-exact=true
